.severity-display {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.severity-display .severity-dot {
    font-size: 0.25vw;
    text-shadow: 1px 1px 1px black;
    color: rgba(255, 255, 255, 0.3);
    transition: 0.25s;
}

.severity-display.critical .severity-dot.paint {
    color: red;
}

.severity-display.high .severity-dot.paint {
    color:  rgb(255, 192, 0);
}

.severity-display.medium .severity-dot.paint {
    color:  rgb(255, 192, 0);
}

.severity-display.normal .severity-dot.paint {
    color: white;
}