.thresholds .fields {
}

.thresholds .title {
    margin-bottom: 4%;
    text-decoration: underline;
}

.thresholds .fields .field input{
    width: 15%;
    text-align: center;
}

.thresholds input::-webkit-outer-spin-button,
.thresholds input::-webkit-inner-spin-button {
  -webkit-appearance: push-button !important;
}

.thresholds .fields .field .name {
    margin-left: 4%;
}

.thresholds .field {
    width: 95%;
    justify-content: center;
    display: flex;
    padding: 2%;
    animation: display-threshold-fields 0.35s ease-in-out;
}

.thresholds .threshold-text {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    font-size: 0.9vw;
}

.thresholds .validation {
    display: flex;
    margin-right: 7vw;
    color: rgba(212, 50, 50, 0.774)
}

@keyframes display-threshold-fields{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}