.final-status .icon{
    height: 30%;
    width: 94%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vw;
}
.final-status .severity-desc{
    height: 70%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}
