.streams-view {
    height: 100%;
    width: 100%;
    display: block;
}

.streams-view.critical {
    border: 0.25vw solid rgb(184, 3, 3);
}

.streams-view.high {
    border: 0.25vw solid  rgb(255, 192, 0);
}

.streams-view.medium {
    border: 0.25vw solid  rgb(255, 192, 0);
}

.streams-view.normal {
    border: 0.25vw solid gray;
}

.streams-view.empty {
    border: 0.25vw solid gray;
}

.streams-view .title {
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}

.streams-view .items-holder {
    height: 89%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    justify-content: space-evenly;
}

.streams-view .items-holder .stream-view-item {
    position: absolute;
    transition: 0.3s;
}

.streams-view .items-holder .stream-view-item.top-left {
    left: 1%;
    top: 12.5%;
}

.streams-view .items-holder .stream-view-item.top-right {
    right: 26.25%;
    top: 12.5%;
}

.streams-view .items-holder .stream-view-item.bottom-left {
    left: 1%;
    bottom: 1.5%;
}

.streams-view .items-holder .stream-view-item.bottom-right {
    right: 26.25%;
    bottom: 1.5%;
}

.streams-view .items-holder .stream-view-item.partial {
    height: calc(42.5% - 1px);
    width: calc(36% - 1px);
    animation: giving-priority 0.3s;
    z-index: 1;
}

.streams-view .items-holder .stream-view-item.full {
    height: calc(86% - 1px);
    width: calc(72.75% - 1px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 10;
    animation : giving-priority 0.3s
}
@keyframes giving-priority{
    0%{
        z-index: 1000;
    }
    100%{
        z-index: 1000;
    }
}