.patient-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 70);
}

.patient-data .holder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(112, 112, 112);
    box-shadow: 1px 1px 1px 1px black;
    overflow: hidden;
}

.patient-data .patient-data-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
    margin: auto;
    background-color: rgb(0, 0, 45);
    width: 100%;
}

.patient-data.partial .patient-data-title {
    height: 10%;
}

.patient-data.full .patient-data-title {
    height: 5%;
}

.patient-data .patient-data-title .name {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.patient-data .patient-data-title .icons {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    direction: rtl;
}

.patient-data .icon {
    height: 2.25vw;
    width: 2.25vw;
    font-size: 1.75vw;
    text-shadow: 1px 1px 1px black;
    color: white;
    z-index: 1;
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.patient-data .items-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start
}

.patient-data.partial .items-holder {
    height: 90%;
}

.patient-data.full .items-holder {
    height: 95%;
}

.patient-data .holder .slim-mode-message {
    font-size: 1.5vw;
    color: white;
}
.patient-data .patient-data-item {
    border: 0.25px solid #bad5f2;
    box-shadow: 0.25px 0.25px 0.25px 0.25px black;
    background-color: rgb(0, 0, 45);
    margin: 0px !important;
    padding: 0px !important;
    transition: 0.3s;
}
.patient-data.partial .patient-data-item{
    height: 33.33333%;
    width: calc(33.33333% - 2px);
}
.patient-data.full .patient-data-item{
    height: 16.472866%;
    width: calc(16.66% - 0.5px);
}