.calibration-window {
    display: block;
}

.calibration-window .title {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.calibration-window .instructions {
    height: 90%;
    width: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}

.calibration-window .instructions .instruction{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-weight: bold;
}