.patient {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 4%;
    cursor: pointer;
    transition: height 0.35s ease-in-out;
    direction: rtl;
    overflow: hidden;
}

.patient.selected {
    border-width: 3px;
    background-color: rgb(19, 19, 142);
    color: white;
}

.patient.border-normal {
    border-color: gray;
}

.patient.border-medium {
    border-color: rgb(255, 192, 0);
}

.patient.border-high {
    border-color: rgb(255, 192, 0);
}

.patient.border-critical {
    border-color: rgb(255, 0, 0);
}

.patient .last-update {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1vw;
}

.patient .title {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    margin-top: 5%;
}

.patient .values {
    height: 60%;
    width: 97%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 1%;
}

.patient .values .value {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
    width: -webkit-fill-available;
}

.patient .values .value .icon {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 2%;
    fill: white;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
}

.patient .values .value.info-icon {
    width: fit-content;
    margin-left: 2%;
}

.patient .values .value.info-icon .icon {
    width: 1.2vw;
    height: 1.2vw;
}

.patient .information-icon-holder {
    height: 20%;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.patient .icon.fa-question-circle {
    font-size: 1vw;
    fill: white;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient.selected .values .value .icon {
    color: white;
    fill: white;
}

.patient .values .value .icon.critical {
    color: red;
    fill: red;
}

.patient .values .value .icon.high {
    color: red;
    fill: red;
}

.patient .values .value .icon.medium {
    color:  rgb(255, 192, 0);
    fill:  rgb(255, 192, 0);
}

.patient .values .value .icon.normal {
    color: white;
    fill: white;
}
.patient .values .value .icon.severity-explanation.high{
    color:  rgb(255, 192, 0) !important;
    fill:  rgb(255, 192, 0) !important;
}
.patient .values .value span {
    font-size: 1.25vw;
}

.patient .edit-section {
    width: 100%;
    font-size: 1vw;
    animation: fade-in 0.55s ease-in-out;
}

.patient .icon-holder {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: flex-start;
    direction: ltr;
}

.patient .edit {
    width: 1.6vw;
    margin-top: 3%;
    margin-left: 2%;
    height: 1.6vw;
}

.patient .delete {
    width: 1.7vw;
    margin-top: 3%;
    margin-right: 2%;
    height: 1.7vw;
}

.patient .threshold-icon {
    width: 2vw;
    height: 2vw;
    text-align: center;
    justify-content: center;
}

.edit-mode .field {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 2%;
}

.edit-mode .validation {
    margin-right: 9vw;
    color: rgba(212, 50, 50, 0.774);
    display:flex;
}

.edit-mode .field .box {
    width: 60%;
    background-color: transparent !important;
    border-width: 0 0 1px 0;
    border-color: white;
    color: white;
    font-size: 1.2vw;
}

.edit-mode input::-webkit-outer-spin-button, .edit-mode input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.edit-mode .apply {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.9vw;
}

.edit-mode .apply img {
    width: 2vw;
}
.patient .screen-locker{
    height: 100%;
    width: 75%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}
.patient .screen-locker.enabled{
    pointer-events: all;
    cursor: default;
}
.patient .screen-locker.disabled{
    pointer-events: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}