.Auth {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 2, 53);
    flex-direction: column;
    direction: rtl;
    color: white;
}

.Auth .Title {
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
}

.Auth .Card {
    width: 20vw;
    margin-top: 0.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: grey 1px solid;
    border-radius: 2%;
}

.Auth .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5vw;
}

.Auth .form input {
    margin-bottom: 0.9vw;
    margin-top: 0.8vw;
    font-size: 1.5vw;
    background: transparent;
    border: none;
    border-bottom: 1px grey solid;
    color: grey;
    outline: none;
    width: 70%;
    text-align: center;
    direction: ltr;
}

.Auth .form label{
    margin-top: 0.3vw;
    font-size: 1.5vw;
    text-align: center;
    color: grey;
}
.Auth .form .Button {
    background: linear-gradient(to bottom, #949ee0, #575c80);
    border-radius: 3px;
    padding: 0.8vw;
    color: white;
    font-weight: 600;
    width: 5vw;
    font-size: 1.3vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Auth .logos-box{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
}
.Auth .logos-box .logo{
    width: 5%;
    margin-left: 0.5%;
    display: flex;
    justify-content: center;
    align-self: center;
    object-fit: fill;
}
.Auth .Logo {
    width: 15vw;
}

.Auth .Error {
    margin-top: 2vw;
    color:red;
}