.Home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 70);
  direction: rtl;
}

.Home.regular .streams-view {
  height: calc(100% - 1vw);
  width: calc(75% - 1vw);
  border-radius: 15px;
  animation: fade-in 0.2s;
}

.Home.regular .patients-list {
  height: 100%;
  width: 25%;
  animation: fade-in 0.2s;
}

.Home.status .streams-view {
  display: none;
}

.Home.status .patients-statuses-list {
  height: 100%;
  width: 100%;
}

.Home.patients-list {
  height: 100%;
  width: 100%;
}

.Home.regular .system-logo {
  height: 14%;
  width: 10%;
  left: 0.5%;
  top: 0%;
  position: absolute;
  border-radius: 10px;
}

.Home.regular .mafat-logo {
  height: 5%;
  width: 4%;
  right: 26%;
  top: 1.5%;
  position: absolute;
  border-radius: 10px;
}

.Home.regular .mantak-logo {
  height: 5%;
  width: 5%;
  right: 31%;
  top: 1.5%;
  position: absolute;
  border-radius: 10px;
}

.Home.status .system-logo {
  height: 10%;
  width: 6%;
  left: 0.5%;
  top: 0%;
  position: absolute;
  border-radius: 10px;
}

@keyframes mantak-to-corner {
  0% {
    right: 26%
  }
  100% {
    right: 0.5%;
  }
}

@keyframes mafat-to-corner {
  0% {
    right: 31%
  }
  100% {
    right: 6%;
  }
}

.Home.status .mafat-logo {
  height: 5%;
  width: 4%;
  right: 6%;
  top: 1.5%;
  position: absolute;
  border-radius: 10px;
  animation: mafat-to-corner 1s;
}

.Home.status .mantak-logo {
  height: 5%;
  width: 5%;
  right: 1%;
  top: 1.5%;
  position: absolute;
  border-radius: 10px;
  animation: mantak-to-corner 1s;
}

.Home.status .exit-button {
  display: none;
}

.Home.regular .exit-button {
  position: absolute;
  height: 3%;
  width: 5%;
  color: white;
  text-decoration: underline;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10%;
  top: 2%;
  font-size: 0.8vw;
  cursor: pointer;
}

@keyframes toggle-to-corner {
  0% {
    top: 4%;
    right: 27%;
  }
  100% {
    top: 2.5%;
    right: 11%;
  }
}


.Home .toggle {
  height: 3%;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.219);
  z-index: 1;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 5px;
  overflow: hidden;
}

.Home.regular .toggle {
  top: 8%;
  right: 27%;
}

.Home.status .toggle {
  top: 2.5%;
  right: 11%;
  animation: toggle-to-corner 1s;
}

.Home .toggle .option{
  height: 100%;
  width: 50%;
  font-size: 0.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px black;
}
.Home .toggle .option.enabled{
  background-color: rgba(255, 255, 255, 0.055);
  color: white;
}
.Home .toggle .option.disabled{
  background-color: rgba(54, 53, 53, 0.904);
  color: gray;
}