.parameter-item {
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(43, 42, 42, 0.582);
    border-right: 0.01vw solid rgb(112, 112, 112);
    border-left: 0.01vw solid rgb(112, 112, 112);
    color: white;
}

.parameter-item.first {
    border-right: none;
}

.parameter-item.last {
    border-left: none;
}

.parameter-item .desc, .parameter-item .value {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
}

.parameter-item .desc {
    height: 40%;
    font-size: 1.2vw;
}

.parameter-item .value {
    height: 60%;
}

.parameter-item .value .number, .parameter-item .value .unit {
    margin-right: 0.25vw;
    margin-left: 0.25vw;
}

.parameter-item .value .number {
    font-size: 1.6vw;
    font-weight: bold;
}

.parameter-item .value .unit {
    font-size: 1.2vw;
}