.alert-box-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    pointer-events: all;
    z-index: 1000;
    background-color: rgba(0,0 ,0, 0.6);
    animation: alert-start 0.4s ;
    overflow: hidden;
}

.alert-box {
    width: 20%;
    height: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: white;
    background-color: rgb(1, 1, 71);
    z-index: 2;
    pointer-events: all;
    pointer-events: unset;
    animation: alert-message-start 0.4s ;
}

.alert-box .alert-message {
    text-align: center;
    height: 70%;
    font-size: 1.5vw;
    align-items: center;
    display: grid;
    color: white;
}

.alert-box .buttons {
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

.alert-box .buttons button {
    border-radius: 10% !important;
    box-shadow: transparent;
    border-width: 0px;
    border-color: rgb(2, 2, 53);
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px black;
    pointer-events: all;
    cursor: pointer;
    color: black;
    font-size: 1.25vw;
}

.alert-box .buttons .approve {
    background-color: rgba(194, 194, 194, 0.678);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.alert-box .buttons .cancel {
    background-color: rgba(194, 194, 194, 0.678);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

@keyframes alert-start{
    0%{
       background-color: transparent;
    }
    100%{
        background-color: rgba(0,0 ,0, 0.6);
    }
}
@keyframes alert-message-start{
    0%{
        margin-top: -30%;
    }
    100%{
        margin-top: 0%;
    }
}