.patient-data-item {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.patient-data-item .selection{
    font-size: 1vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    align-self: flex-start;
    margin: 2px;
}
.patient-data-item .desc-box {
    height: 50%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
}

.patient-data-item .desc-box .name {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
   color: white;
}

.patient-data-item .desc-box .icon-box {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient-data-item .desc-box .icon-box .icon {
    height: 2vw;
    width: 2vw;
    filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 1));
}

.patient-data-item .desc-box .icon-box .icon.high {
    color: red;
    fill: red;
}

.patient-data-item .desc-box .icon-box .icon.medium {
    color: rgb(255, 192, 0);
    fill:  rgb(255, 192, 0);
}

.patient-data-item .desc-box .icon-box .icon.normal {
    color: white;
    fill: white;
}

.patient-data-item .value-box {
    height: 50%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    direction: ltr;
    color: white
}

.patient-data-item .value-box .span {}

.patient-data-item .value-box .value {
    font-size: 1.25vw;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    margin-right: 1%;
}

.patient-data-item .value-box .unit {
    font-size: 1vw;
    text-shadow: 2px 2px 2px black;
    margin-left: 1%;
}