.patients-list {
  display: block;
  direction: ltr !important;
}
.patients-list .search-box {
  height: 10%;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  direction: rtl !important;
}

.patients-list .search-box input {
  width: 75%;
  height: 50%;
  font-size: 1.5vw;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  color: white;
  text-align: center;
  display: block;
  background-color: rgba(255, 255, 255, 0.219);
}
.patients-list .search-box input:focus{
  border: none;
}

.patients-list .search-box .add {
  width: 2.5vw;
  cursor: pointer;
  transition: 0.5s;
}
.patients-list .search-box .add.deselect{
  transform: rotate(45deg);
}

.patients-list .items-list {
  height: 90%;
  width: 100%;
  display: block;
  overflow-y: inherit;
  overflow-x: hidden;
  justify-content: center;
}

.patients-list .items-list .patient {
  height: 15%;
  width: 90%;
}

.patients-list .items-list .new-patient {
  width: 90%;
}

.patients-list .items-list .patient.edit-mode {
  height: 60%;
}

.patients-list .items-list .patient.edit-thresholds-mode {
  height: 160%;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 15px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 76, 76);
}