.display {
    background-color: rgb(0, 0, 70);
    border: none !important;
    box-shadow: none !important;
}

.holder {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
    border: 1px solid rgb(112, 112, 112);
    box-shadow: 1px 1px 1px 1px black;
}

.display.history .holder {
    transform: rotateY(180deg);
}

.video, .user-history {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    background-color: rgb(0, 0, 70);
}

.display.history .video {
    pointer-events: none !important;
}

.user-history {
    transform: rotateY(180deg);
}

.display.video .user-history {
    pointer-events: none !important;
}