.patients-statuses-list {
    display: block;
    direction: ltr !important;
  }
  .patients-statuses-list .search-box {
    height: 10%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    direction: rtl !important;
  }

  @keyframes to-center {
    0% {
      width: 40%;
    }
    100% {
      width: 20%;
    }
  }

  .patients-statuses-list .search-box .range {
    width: 3%;
    height: 35%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 0% !important;
  }

  .patients-statuses-list .search-box .search {
    animation: to-center 0.3s;
  }

  
  .patients-statuses-list .search-box span {
    color: white;
    margin-right: 1%;
    margin-left: 1%;
  }

  .patients-statuses-list .search-box span.displays {
    margin-right: 6%;
  }
  
  .patients-statuses-list .search-box input {
    margin-right: 5%;
    width: 20%;
    height: 45%;
    font-size: 1.25vw;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    color: white;
    text-align: center;
    display: block;
    background-color: rgba(255, 255, 255, 0.219);
  }
  .patients-statuses-list .search-box input:focus{
    border: none;
  }
  
  .patients-statuses-list .search-box .add {
    width: 2.5vw;
    cursor: pointer;
    transition: 0.5s;
  }
  .patients-statuses-list .search-box .add.deselect{
    transform: rotate(45deg);
  }
  
  .patients-statuses-list .items-list {
    height: 90%;
    width: 100%;
    display: block;
    overflow-y: inherit;
    overflow-x: hidden;
    justify-content: center;
    animation: fade-in 0.5s;
  }
  
  .patients-statuses-list .items-list .patient-status {
    height: 11%;
    width: 98%;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 15px;
  }
  
  /* Handle */
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 76, 76);
  }