.ip-dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 70);
    height: 100%;
    width: 100%;
    direction: rtl;
}

.ip-dialog .ip-dialog-title {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    color: white;
}

.ip-dialog .main-window {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ip-dialog .main-window .input-holder {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ip-dialog .input-holder input {
    height: 70%;
    width: 70%;
    font-size: 1.3vw;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    color: white;
    text-align: center;
    display: block;
    background-color: rgba(255, 255, 255, 0.219);
}

.ip-dialog .controls {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ip-dialog .controls .re-calibrate{
    width: 30%;
}

.ip-dialog .controls .button {
    height: 60%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    background-color: rgba(255, 255, 255, 0.219);
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 5px;
    color: white;
    margin: 5%;
}

.ip-dialog .controls .button.enabled {
    background-color: rgba(255, 255, 255, 0.219);
    color: white;
    cursor: pointer;
}

.ip-dialog .controls .button.disabled {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(75, 74, 74);
}

.ip-dialog .controls .button-saved-calib {
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 5px;
    background-color: rgb(5, 97, 176);
    color: white;
    cursor: pointer;
    animation-name: example;
    animation-duration: 0.5s;
}

@keyframes example {
    from {width: 0; font-size: 0;}
    to {width: 30%; font-size: 1.3vw;}
  }
  

/* .ip-dialog .controls .button-saved-calib:after {
    height: 60%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
} */

.ip-dialog .loader {
    height: 6vw;
    width: 6vw;
}