.tooltip {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    pointer-events: none;
    overflow: hidden;
}
.tooltip .tooltip-item{
    position: absolute;
    font-size: 1vw;
    box-shadow: 2px 2px 2px black;
    z-index: 2;
    background-color: white;
    color: black;
    white-space: pre-line
}