.chart-control {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 45);
}

.chart-control button:focus, .chart-control button:active {
    outline: none !important;
}

.chart-control .controls {
    width: 100%;
    height: 9%;
    fill: white;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    z-index: 999999 !important;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
}

.chart-control .current-value {
    position: absolute;
    display: flex;
    width: 2vw;
    height: 2vw;
    top: 18%;
    right: 5%;
    border: 1px solid white;
    color: cyan;
    font-size: 1vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.chart-control .controls .icon {
    width: 1vw;
    cursor: pointer;
    margin-right: 0.5%;
    margin-left: 0.5%;
    fill: rgb(150, 144, 144);
}

.chart-control .controls .icon.selected {
    fill: white;
}

.time-range-wrapper {
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.time-range-wrapper .time-range-slider {
    width: 60%;
    height: 100%;
    align-items: center;
}

.time-range-wrapper .time-range-slider .scale {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
}

.time-range-wrapper .time-range-slider .scale .scale-section {
    width: 100%;
    height: 100%;
    display: contents;
}

.time-range-wrapper .time-range-slider .scale .line {
    background-color: black;
    width: 80%;
    height: 0.2vw;
    box-shadow: 1px 1px 1px black;
    transition: 0.3s;
}

.time-range-wrapper .time-range-slider .scale .dot-holder {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-range-wrapper .time-range-slider .scale .dot {
    position: absolute;
    background-color: black;
    width: 2.25vw;
    height: 2.25vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0.5px solid rgb(95, 94, 94);
    transition: 0.3s;
}

.time-range-wrapper .time-range-slider .scale .scale-section .selected {
    background-color: rgb(3, 3, 105) !important;
}

.time-range-wrapper .time-range-slider .scale .dot .number {
    font-size: 0.75vw;
}

.time-range-wrapper .time-range-slider .scale .dot .desc {
    font-size: 0.7vw;
}

.time-range-slider .time-label {
    width: 100%;
    color: white;
    text-align: center;
}

.time-range-wrapper .time-label .label {
    color: white;
    text-align: center;
    font-size: 1vw;
}

.time-range-wrapper .time-label .value {
    font-size: 1vw;
    color: teal;
    font-weight: bolder;
}

.time-range-slider .input-range__slider {
    color: teal !important;
    background-color: teal;
    border-color: transparent;
}

.recharts-text.recharts-cartesian-axis-tick-value {
    font-size: 0.75vw;
    color: white !important;
}

.recharts-text.recharts-cartesian-axis-tick-value tspan {
    fill: rgba(255, 255, 255, 0.856)
}

.input-range__track.input-range__track--active {
    background-color: teal;
}

.chart-wrapper {
    width: 100%;
    height: 60%;
}

.measure-selector {
    width: 100%;
    height: 9%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.measure-selector button {
    margin-right: 1%;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: gray;
    color: gray;
    font-size: 1vw;
    cursor: pointer;
}

.measure-selector button:hover {
    color: white;
    font-size: 1.1vw;
}

.measure-selector button.selected {
    border-width: 0 0 2px 0;
    border-color: white;
    color: white;
}

.input-range__track .input-range__track--background {
    direction: ltr !important;
}