.new-patient {
    border-radius: 5px;
    direction: rtl;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 45);
    margin: auto;
    margin-bottom: 4%;
    border-color: grey;
    height: 45%;
    animation: open-dialog 1s;
}

.new-patient .title {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.new-patient .field {
    margin: auto;
    height: 10%;
    width: 90%;
    justify-content: space-between;
    display: flex;
    margin-top: 4%;
}

.new-patient .field input {
    width: 60%;
    background-color: transparent !important;
    border-width: 0 0 1px 0;
    border-color: white;
    color: white;
}

.new-patient .validation {
    margin-right: 7vw;
    color: rgba(212, 50, 50, 0.774)
}

.new-patient .apply {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-patient .apply img {
    width: 2.5vw;
}

.new-patient .title {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.new-patient .name {
    font-size: 1.4vw;
}

.new-patient .box {
    font-size: 1.3vw;
}

@keyframes open-dialog {
    0% {
        height: 0%;
        opacity: 0;
    }

    100% {
        height: 45%;
        opacity: 1;
    }
}