.video {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-end;
    background-color: rgb(0, 0, 70);
}

.video .video-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 0, 45);
    direction: ltr;
    z-index: 1;
}

.video.partial .video-title {
    height: 10%;
    width: 100%;
}

.video.full .video-title {
    height: 5%;
    width: 100%;
}

.video .video-title .icons{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    direction: rtl;
}
.video .video-title .icons.one{
    justify-content: flex-start;
}
.video .video-title .icons.multi{
    justify-content: flex-end;
}
.video .video-title .name{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}
.video .icon {
    height: 2vw;
    width: 2vw;
    font-size: 1.75vw;
    text-shadow: 1px 1px 1px black;
    color: white;
    z-index: 1;
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.video .video-title .icons.multi .icon {
    margin-right : 8%;
    margin-left: 2%;
}
.video .video-title .icon.fa-plus{
    transition: 0.5s;
}
.video .video-title .icon.fa-plus.add{
    transform: rotate(0deg);
}
.video .video-title .icon.fa-plus.delete{
    transform: rotate(45deg);
}
.video .video-place {
    z-index: 0;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video.partial .video-place {
    height: 90%;
    width: 100%;
}

.video.full .video-place {
    height: 95%;
    width: 100%;
}

.video .rtsp-player.enabled , .video .video-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.video .rtsp-player.disabled {
    height: 0px;
    width: 0px;
}

.video .loader {
    height: 10vw;
    width: 10vw;
}