.patient-status {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: top;
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    /* margin-bottom: 1.25%; */
    cursor: pointer;
    transition: height 0.35s ease-in-out;
    direction: rtl;
    overflow: hidden;
    width: 98%;
    align-items: center;
    animation: fade-in 1s;
}

.patient-status.border-normal {
    border-color: gray;
}

.patient-status.border-medium {
    border-color: rgb(255, 192, 0);
}

.patient-status.border-high {
    border-color: rgb(255, 192, 0);
}

.patient-status.border-critical {
    border-color: rgb(255, 0, 0);
}

.patient-status .label {
    background-color: gray;
    height: 100%;
    width: 10%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.75vw;
}

.patient-status .label.status-label-normal {
    background-color: gray;
}

.patient-status .label.status-label-medium {
    background-color: rgb(255, 192, 0);
}

.patient-status .label.status-label-high {
    background-color: rgb(255, 192, 0);
}

.patient-status .label.status-label-critical {
    background-color: rgb(255, 0, 0);
}

.patient-status .last-update {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1vw;
}

.patient-status .title {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.75vw;
    padding-right: 1%;
}

.patient-status .information-icon-holder {
    height: 20%;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.patient-status .icon.fa-question-circle {
    font-size: 1vw;
    fill: white;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient-status.selected .values .value .icon {
    color: white;
    fill: white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.patient-status .items-holder {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.patient-status .items-holder .slim-mode-message {
    font-size: 1.5vw;
    color: white;
}
.patient-status .patient-data-item {
    border: 0.25px solid #bad5f2;
    box-shadow: 0.25px 0.25px 0.25px 0.25px black;
    background-color: rgb(0, 0, 45);
    margin: 0px !important;
    padding: 0px !important;
    transition: 0.3s;
    width: 20%;
    height: 100%;
}
.patient-status.partial .patient-data-item{
    height: 33.33333%;
    width: calc(33.33333% - 0.5px);
}
.patient-status.full .patient-data-item{
    height: 16.472866%;
    width: calc(16.66% - 0.5px);
}

.patient-status .patient-data-item .desc-box .icon-box {
    width: 25% !important;
}

.patient-status .patient-data-item .desc-box .icon-box .icon {
    height: 1.5vw !important;
    width: 1.5vw !important;
}

.patient-status .patient-data-item .value-box .unit {
    display: none !important;
}

.patient-status .patient-data-item .value-box .value {
    margin-right: 0% !important;
}

.patient-status .patient-data-item .value-box {
    justify-content: center !important;
}

.patient-status .severity-info {
    display: flex;
    justify-content: top;
    width: 20%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.patient-status .severity-info .severity-desc {
    height: 85%;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    width: 98%;
    justify-content: center;
    white-space: pre-line
}

.patient-status .patient-data-item .value-box .value{
    font-size: 1.5vw;
}
.patient-status .patient-data-item .desc-box .name{
    font-size: 1.3vw;
}