.user-history {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-end;
    background-color: rgb(0, 0, 70);
    direction: ltr;
}

.user-history .user-history-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 0, 45);
    z-index: 1;
    direction: ltr !important;
}

.user-history .user-history-title .icons {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    direction: rtl;
}
.user-history .user-history-title .icons.one{
    justify-content: flex-start;
}
.user-history .user-history-title .icons.multi{
    justify-content: flex-end;
}
.user-history .user-history-title .name {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.user-history.partial .user-history-title {
    height: 10%;
    width: 100%;
}

.user-history.full .user-history-title {
    height: 5%;
    width: 100%;
}

.user-history .icon {
    height: 2vw;
    width: 2vw;
    font-size: 1.75vw;
    text-shadow: 1px 1px 1px black;
    color: white;
    z-index: 1;
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.user-history .user-history-title .icons.multi .icon {
    margin-left: 4%;
}

.user-history .graph-place {
    z-index: 0;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-history.partial .graph-place {
    height: 90%;
    width: 100%;
}

.user-history.full .graph-place {
    height: 95%;
    width: 100%;
}